@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-d1fw1y');
	src:url('fonts/icomoon.eot?#iefix-d1fw1y') format('embedded-opentype'),
		url('fonts/icomoon.ttf?-d1fw1y') format('truetype'),
		url('fonts/icomoon.woff?-d1fw1y') format('woff'),
		url('fonts/icomoon.svg?-d1fw1y#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}



body {
	margin: 10px;
	font-family: "Martel", serif;
	font-weight: 200;
	color: #4e4e56;
}

#bottom-menu {
	text-align: center;
}

#bottom-menu div {
	padding: 0.2em 0.7em;
	display: inline-block;
}

#bottom-menu #address {
	border-right: 1px solid #7c1418;
}
#bottom-menu #phone {
	border-right: 1px solid #7c1418;
}
#bottom-menu #skype {
	vertical-align: top;
}
#banner {
	width:100%;
}

#banner-text {
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
}

#home-header {
	position: relative;

}


#intro {
	font-size: 18px;
	text-align: center;
	margin-bottom: 1em;
	font-weight: 400;
}

#logo {
	max-width: 80%;
	
}

#main-menu {
	vertical-align: bottom;
}

#main-menu li{
	display: inline-block;
	margin-right: 0.5em;
}

#main-menu ul {
	text-align: left;
	padding-left: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}
#main-menu a{
	color: #333;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}

#main-menu a:hover {
	color: #8E2D2D;
}

#resized-menu {
	margin: 1em 0 0 0;
}

#skype {
	border-bottom: none;
}

#testimonials{
	margin-top: 7em;
	margin-bottom: 0;
}
#testimonials-header {
	margin-bottom: 0;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}

#xs-menu {
	margin: 0;
}

#xs-menu a{
	color:inherit;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	}

#xs-menu a:hover {
	color: #8E2D2D;
}

#xs-menu li{
	display: inline-block;
	margin: 0 0.5em;

}

#xs-menu ul{
	text-align: center;
	padding-left: 0;
}

.container {
	background: #f3f3f3;
	margin: 0;
	font-size: 13px;
	position: relative;
	width: 100%;
}

.icon-skype:before {
	content: "\e602";
	margin-right: 0.3em;
	font-size: 17px;
}

.icon-quotes-right:before {
	content: "\e600";
}
.icon-quotes-left:before {
	content: "\e601";
}

.side-menu {
	position: absolute;
	top: 0;
	right:0;
	width: 15%;
	padding: 2em;
	font-size: 12px;
}

.side-menu div {
	padding: 1em;
	border-bottom: solid 1px #8E2D2D;
}

.red {
	color: #8E2D2D;
}

.row {
	margin: 3em 0;
}

.sides-padding {
	padding-left: 5em;
	padding-right: 5em;
}

.quotation {
	margin-top: 2em;
	font-style: italic;
}

@media screen and (max-width:1300px) {
	#banner {
		opacity: 0.4;
	}

}

@media screen and (max-width:1200px) {
  .side-menu {
		width: 17%;
	}
	#intro p {
		margin: 15px;
	}
}

@media screen and (max-width:1100px) {
	.side-menu {
		width: 20%;
	}
}
@media screen and (max-width:992px) {
  	.side-menu {
		display: none;
	}
	.row {
		margin: 2em 0;
	}
}

@media screen and (max-width:700px) {
	#intro {
		font-size: 16px;
	}
	.row {
		margin: 1em 0;
	}

}

@media screen and (max-width:610px) {
	#bottom-menu {
		font-size: 10px;
	}
}

@media screen and (max-width:455px) {
	#intro.home-page p {
		display: none;
	}
}

#testimonials-slider .carousel-inner {
	padding-bottom: 40px;
}


/* Jaliswall styling*/

.wall-item {
  display: block;
  margin: 0 0 30px 0;
  /*padding: 12px;
  background: white;
  border-radius: 3px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);*/
  transition: all 220ms;
}

/*.wall-item:hover {
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
  transition: all 220ms;
}*/

.wall-item > img {
  display: block;
  width: 100%;
  margin: 0 0 18px 0;
}

.wall-item h2 {
  text-align: center;
  font-size: 14px;
  margin: 0 0 12px 0;
}

.wall {
  display: block;
  position: relative;
}

.wall-column {
  display: block;
  position: relative;
  width: 33.333333%;
  float: left;
  padding: 10px 10px 0 0;
  box-sizing: border-box;
}
@media (max-width: 640px) {

.wall-column { width: 50%; }
}
@media (max-width: 480px) {

.wall-column {
  width: auto;
  float: none;
}
}

/* POP-UP IMAGE*/

#imgBig {
	padding: 10px;
	background-color: white;
}
#overlay{
    position: fixed; 
    width: 100%; 
    height: 100%; 
    top: 0px; 
    left: 0px; 
    background-color: #000; 
    opacity: 0.7;
    filter: alpha(opacity = 70) !important;
    display: none;
    z-index: 100;
    
}

#overlayContent{
    position: fixed; 
    width: 100%;
    top: 10%;
    text-align: center;
    display: none;
    overflow: hidden;
    z-index: 100;

}

#overlayContent h2 {
	text-align: center;
 	 font-size: 14px;
 	 margin: 0 0 12px 0;
 	 
}

#overlayContent div {
	background-color: white;
	margin-left: 20%;
	width: 60%;
	padding: 10px 0 10px 10px;
}
