@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-d1fw1y');
	src:url('fonts/icomoon.eot?#iefix-d1fw1y') format('embedded-opentype'),
		url('fonts/icomoon.ttf?-d1fw1y') format('truetype'),
		url('fonts/icomoon.woff?-d1fw1y') format('woff'),
		url('fonts/icomoon.svg?-d1fw1y#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}



body {
	margin: 10px;
	font-family: "Martel", serif;
	font-weight: 200;
	color: #4e4e56;
}

#bottom-menu {
	text-align: center;
}

#bottom-menu div {
	padding: 0.2em 0.7em;
	display: inline-block;
}

#bottom-menu #address {
	border-right: 1px solid #7c1418;
}
#bottom-menu #phone {
	border-right: 1px solid #7c1418;
}
#bottom-menu #skype {
	vertical-align: top;
}
#banner {
	width:100%;
}

#banner-text {
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
}

#home-header {
	position: relative;
}


#intro {
	font-size: 18px;
	text-align: center;
	margin-bottom: 5em;
	font-weight: 400;
}

#logo {
	text-align: center;
}

#main-menu {
	vertical-align: bottom;
}

#main-menu li{
	display: inline-block;
	margin-right: 0.5em;
}

#main-menu ul {
	text-align: left;
	padding-left: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}
#main-menu a{
	color: #333;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}

#main-menu a:hover {
	color: #8E2D2D;
}

#resized-menu {
	margin: 2em 0 0 0;
}

#skype {
	border-bottom: none;
}

#testimonials p:first-child{
	margin-top: 0;
}
#testimonials-header {
	margin-bottom: 0;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
	padding-left: 3em;
}

#xs-menu {
	margin: 0;
}

#xs-menu a{
	color:inherit;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	}

#xs-menu a:hover {
	color: #8E2D2D;
}

#xs-menu li{
	display: inline-block;
	margin: 0 0.5em;

}

#xs-menu ul{
	text-align: center;
	padding-left: 0;
}

.container {
	background: #f3f3f3;
	margin: 0;
	font-size: 13px;
	position: relative;
	width: 100%;
}

.icon-skype:before {
	content: "\e602";
	margin-right: 0.3em;
	font-size: 17px;
}

.icon-quotes-right:before {
	content: "\e600";
}
.icon-quotes-left:before {
	content: "\e601";
}

.side-menu {
	position: absolute;
	top: 0;
	right:0;
	width: 15%;
	padding: 2em;
	font-size: 12px;
}

.side-menu div {
	padding: 1em;
	border-bottom: solid 1px #8E2D2D;
}

.red {
	color: #8E2D2D;
}

.row {
	margin: 3em 0;
}

.sides-padding {
	padding-left: 5em;
	padding-right: 5em;
}

.quotation {
	margin-top: 2em;
	font-style: italic;
}

@media screen and (max-width:1300px) {
	#banner {
		opacity: 0.4;
	}

}

@media screen and (max-width:1200px) {
  .side-menu {
		width: 17%;
	}
	#intro p {
		margin: 15px;
	}
}

@media screen and (max-width:1100px) {
	.side-menu {
		width: 20%;
	}
}
@media screen and (max-width:992px) {
  	.side-menu {
		display: none;
	}
	.row {
		margin: 2em 0;
	}
}

@media screen and (max-width:700px) {
	#intro {
		font-size: 16px;
	}
	.row {
		margin: 1em 0;
	}

}

@media screen and (max-width:610px) {
	.row .home-page p:nth-child(2) {
		display: none;
	}

	.row .home-page p:nth-child(3) {
		display: none;
	}

	#bottom-menu {
		font-size: 10px;
	}
}

@media screen and (max-width:455px) {
	#intro.home-page p:nth-child(1) {
		margin: 0;
	}
}


/* CSS FOR FREEWALL */

.item {
    width: 400px;
    height: 320px;
    background: rgb(135, 199, 135);
}

.item img {
	height: 100%;
	width: 100%;
}

#free-wall {
	width: 100%;
	margin-top: 10px;
}



/* CSS FOR MENU ICON AND SLIDE-DOWN MENU
#icon-menu {
	position: absolute;
	top: 20px;
	right: 20px;
}

#icon-menu a {
	text-decoration: none;
	color: #4e4e56;
}

#icon-menu a:hover {
	color: #8E2D2D;
}



#slide-down-menu {
	display: none;
}

#slide-down-menu ul{
	padding: 10px;
	background: rgba(255, 255, 255, 0.5);
}

#slide-down-menu li{
	list-style-type: none;
	font-weight: 800;
	padding: 3px 0;
}

#menu-button a {
	font-size: 30px;
}

*/




/* 
to make banner image a background-image instead of a div
#home-banner {
	background-image: url('img3.jpg');
	width: 100%;
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-top: 0;
}*/




